{% load static %}
{% load products_tags %}
{% load users_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{% static 'vendor/css/profile.css' %}" rel="stylesheet">
	<link href="{% static 'vendor/css/base.css' %}" rel="stylesheet">
	<title>Profile</title>
</head>
<body>
	<main>
		<div class="profile">
			<div class="container">
				<div class="profile-wrapper">
					
					<!--left column-->
					<div class="profile-left-column">
						<div>
							<a href="{% url 'men:home' %}">
								<img class="profile-logo-img" src="{% static 'vendor/img/navbar/logo.webp' %}" alt="logo">	
							</a>
						</div>

						<div class="profile-settings">
							<div class="profile-data">
								<div class="profile-data-wrapper">
									<div class="profile-data-avatar">
										<img width="150" height="150"
										src="{% if user.image %} {{ user.image.url }} {% else %} {% static 'vendor/img/users/default_avatar.jpg' %} {% endif %}"
										class="img-thumbnail">
									</div>
									<div>
										<p>Hi,</p>
										<p class="profile-data-username"><b>{{ user.first_name }}</b></p>
										<p class="profile-data-username"><b>{{ user.last_name }}</b></p>
									</div>
								</div>
							</div>
			
							<ul class="profile-list">
								
								{% for item in profile_data %}
									<li class="profile-item">
										<a class="profile-link" href="{% url item.url %}">
											<div>
												<img class="profile-icon" src="{% static item.img %}" alt="profile-icon">
											</div>
											<p>{{ item.category }}</p>
										</a>
									</li>
								{% endfor %}
								<form action="{% url 'users:logout' %}" method="POST">
									{% csrf_token %}
									<a class="profile-link" href="{% url 'users:logout' %}">
										<img class="profile-icon"  src="{% static 'vendor/img/profile/sign_out.svg' %}" alt="Logout">
										<button class="logout-btn" type="submit">Sign out</button>
									</a>
								</form>
							</ul>
						</div>
					</div>
					
					<!-- right column -->
					<div class="profile-right-column">
						<a href="{% url 'users:profile' %}">My Account</a>	
						<div class=profile-right-bg style="background-image: url('{% static 'vendor/img/profile/welcome.svg' %}')">
							
							{% if url_contains_details %}
								{% show_details form %}	
							{% elif url_contains_change_password %}
								{% show_change_password form %}
							{% else %}
								{% show_welcome %}
							{% endif %}
								
						</div>
					</div>
				</div>
			</div>
		</div>
		{% show_copyright %}
	</main>
</body>
</html>