<section class="copyright">
	<div class="container">
		<div class="copytirght-wrapper">
			<div>
				<p>
					© 2024 Super Street
				</p>
			</div>
			<div>
				<ul class="copyrirght-list">
					<li class="cpoyright-item">
						Super Street details
					</li>
					|
					<li class="cpoyright-item">
						Privacy & Cookies
					</li>
					|
					<li class="cpoyright-item">
						Ts&Cs
					</li>
					|
					<li class="cpoyright-item">
						Accessibility
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>