{% extends "products/base.html" %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'vendor/css/basket.css' %}">
{% endblock  %}

{% block content %}

<main>
	<div class="container">
		
		{% if basket_items %}
			<div class="basket-top-section">
				<div class="basket-count">
					<h2>Count items: </h2>
					<p><b>{{ count_items }}</b></p>
				</div>
				<div class="basket-total-price">
					<h2>Total price:</h2>
					<p><b>{{ total_price }}</b>$</p>
				</div>
			</div>
			<div class="basket">
				<ul class="basket-list">
					{% for item in basket_items %}
						<li class="basket-item">
							<div>
								<img class="basket-item-img" src="{{ item.product.image.url }}" alt="cart-image">
							</div>
							<p>{{ item.product.name }}</p>
							<div class="basket-item-quantity">
								<p>Quintity:</p>
								<p>{{ item.quantity }}</p>
							</div>
							<div class="basket-item-price">
								<p>Price:</p>
								<p>{{ item.get_sum_price_items }}</p>
							</div>	
							<div class="button-wrapper">
								<form action="{% url 'delete_basket_item' item.pk %}" method="post">
									{% csrf_token %}
									<button class="basket-delete-btn">Remove from cart</button>
								</form>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% else %}
			<h1>Your cart is empty </h1>
		{% endif %}
	</div>
</main>

{% endblock %}

