<section class="footer">
	<div class="container">
		<div class="footer-wrapper">
			<div class="footer-column-1">
				<h4>Help & Information</h4>
				<ul class="footer-list">
					{% for item in footer_data.help_information %}
						<li class="footer-item">{{ item }}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="footer-column-2">
				<h4>About Suer Street</h4>
				<ul class="footer-list">
					{% for item in footer_data.about %}
						<li class="footer-item">{{ item }}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="footer-column-3">
				<h4>More From Super Street</h4>
				<ul class="footer-list">
					{% for item in footer_data.more %}
						<li class="footer-item">{{ item }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="copyright">
	<div class="container">
		<div class="copytirght-wrapper">
			<div>
				<p>
					© 2024 Super Street
				</p>
			</div>
			<div>
				<ul class="copyrirght-list">
					<li class="cpoyright-item">
						Super Street details
					</li>
					|
					<li class="cpoyright-item">
						Privacy & Cookies
					</li>
					|
					<li class="cpoyright-item">
						Ts&Cs
					</li>
					|
					<li class="cpoyright-item">
						Accessibility
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>