{% extends "products/base.html" %}
{% load static %}

{% block css %}
	<link href="{% static 'vendor/css/index.css' %}" rel="stylesheet">
{% endblock  %}

{% block content %}
	<section>
		<!--    <div class="alert alert-light text-center" role="alert">-->
		<!--        Информационное сообщение-->
		<!--    </div>-->
		<div class="container">
			<div class="row">
				<div class="col-lg-6 d-flex flex-column">
					<h4 class="mt-5 width=100%">
						Добро пожаловать в мир стиля и элегантности – мир, где каждая деталь одежды вдохновляет на создание истинного образа. 
						Наш магазин предлагает вам уникальную возможность обрести не просто одежду, а настоящий стильный акцент. Здесь каждая коллекция отражает современные тенденции и самобытность, подчеркивая вашу индивидуальность и вкус. Вдохновляйтесь и выбирайте смело – вместе мы создадим ваш неповторимый образ, в котором вы будете ощущать себя уверенно и стильно в любой ситуации.
					</h4>
					<button id="start-purchase-btn" type="button" class="btn btn-lg">
						<a id="start-purchase-link" href="{% url 'products:products' %}">
							Начать покупки
						</a>
					</button>
				</div>
			</div>
		</div>
	</section>
{% endblock  %}
