{% extends "products/base.html" %}
{% load static %}
{% load products_tags %}

{% block css %}
	<link rel="stylesheet" href="{% static 'vendor/css/index.css' %}">
{% endblock  %}

{% block content %}
		<!--    <div class="alert alert-light text-center" role="alert">-->
		<!--        Информационное сообщение-->
		<!--    </div>-->
		<section class="sale sale-gradient-one">
			<div class="sale-banner">
				<div class="sale-button-wrapper">
					<button>SALE</button>
				</div>
				<p class="sale-bold-text">EXTRA 20% OFF</p>
				<p class="sale-bold-text">SELECTED STYLES</p>
				<p class="sale-regular-text">Already up to 70% off</p>
				<div class="promocode-wrapper">
					<p class="sale-regular-text">
						With code: 
					</p>
					<div class="promocode">DROP</div>
				</div>
			</div>
		</section>

		<section class="sale sale-gradien-two">
			<div class="container">
				<div class="sale-wrapper">
					<ul class="sale-list">
						{% if "men" in current_url %}
							{% for item in sale_data.men %}
								<li class="sale-link">
									<img src="{% static item.img %}" alt="bestseller">
									<a href="#" class="name-sale-link">
										{{ item.title }}
									</a>
								</li>
							{% endfor %}
						{% elif "women" in current_url %}
							{% for item in sale_data.women %}
								<li class="sale-link">
									<img src="{% static item.img %}" alt="bestseller">
									<a href="#" class="name-sale-link">
										{{ item.title }}
									</a>
								</li>
							{% endfor %}
						{% else %}
							<p>No items found.</p>
						{% endif %}
					</ul>
					<a class="sale-btn" href="#">
						<span class="top-key"></span>
						<span class="text">View All</span>
						<span class="bottom-key-1"></span>
						<span class="bottom-key-2"></span>
					</a>
				</div>
			</div>
		</section>

		<section class="hero">
			<div class="container">
				<div class="hero-wrapper">
					<img src="{% static 'vendor/img/hero.avif' %}" alt="hero">
					<p>Shop linen looks</p>
				</div>
			</div>
		</section>

		<section class="callage">
			<div class="container">
				<div class="collage-wrapper">
					<ul class="collage-list">
						{% for collage in collages_data %}
							<li class="collage-item">
								<img src="{% static collage.img %}" alt="collage_img" class="collage-img">
								<p class="collage-title">{{ collage.title }}</p>
								<p class="collage-desc">{{ collage.desc }}</p>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</section>

		<section class="slider">
			<div class="slider-container">
				<h2>Your most hyped</h2>
				<ul class="slider-list" id="slider">
					{% for slider in slider_data %}
					<li class="slide">
						<img src="{% static slider.img %}" alt="Product 1">
						<h3>{{ slider.title }}</h3>
						<p>{{ slider.price }}</p>
					</li>
					{% endfor %}
				</ul>
				<button class="prev" onclick="prevSlide()">&#10094;</button>
				<button class="next" onclick="nextSlide()">&#10095;</button>
			</div>
			<div class="pagination" id="pagination"></div>
		</section>

		<section class="brands">
			<div class="container">
				<div class="brands-wrapper">
					<h2>TRENDING BRANDS</h2>
					<ul class="barnds-list">
						{% for brand in brands_data %}
							<li class="brands-link"><img src="{% static brand.img %}" alt="brand" class="brands-img"></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</section>
{% endblock  %}

{% block footer %}
	{% show_footer %}
	{% show_copyright %}
{% endblock %}
