{% extends "products/base.html" %}
{% load static %}
{% load products_tags %}

{% block css %}
	<link rel="stylesheet" href="{% static 'vendor/css/index.css' %}">
{% endblock  %}

{% block content %}
		<!--    <div class="alert alert-light text-center" role="alert">-->
		<!--        Информационное сообщение-->
		<!--    </div>-->
		<section class="sale sale-gradient-one">
			<div class="sale-banner">
				<div class="sale-button-wrapper">
					<button>SALE</button>
				</div>
				<p class="sale-bold-text">EXTRA 20% OFF</p>
				<p class="sale-bold-text">SELECTED STYLES</p>
				<p class="sale-regular-text">Already up to 70% off</p>
				<div class="promocode-wrapper">
					<p class="sale-regular-text">
						With code: 
					</p>
					<div class="promocode">DROP</div>
				</div>
			</div>
		</section>

		<section class="sale sale-gradien-two">
			<div class="container">
				<div class="sale-wrapper">
					<ul class="sale-list">
						{% if current_gender == "men" %}
							{% for item in sale_data.men %}
								<li class="sale-link">
									<img src="{% static item.img %}" alt="bestseller">
									<a href="#" class="name-sale-link">
										{{ item.title }}
									</a>
								</li>
							{% endfor %}
						{% elif current_gender == "women" %}
							{% for item in sale_data.women %}
								<li class="sale-link">
									<img src="{% static item.img %}" alt="bestseller">
									<a href="#" class="name-sale-link">
										{{ item.title }}
									</a>
								</li>
							{% endfor %}
						{% else %}
							<p>No items found.</p>
						{% endif %}
					</ul>
					<a class="sale-btn" href="#">
						<span class="top-key"></span>
						<span class="text">View All</span>
						<span class="bottom-key-1"></span>
						<span class="bottom-key-2"></span>
					</a>
				</div>
			</div>
		</section>

		<section class="hero">
			<div class="container">
				<div class="hero-wrapper">
					{% if current_gender == "men" %}	
							<img src="{% static hero_data.men.img %}" alt="hero">
							<p>{{ hero_data.men.text }}</p>
					{% else %}
							<img src="{% static hero_data.women.img %}" alt="hero">
							<p>{{ hero_data.women.text }}</p>
					{% endif %}
				</div>
			</div>
		</section>

		<section class="callage">
			<div class="container">
				<div class="collage-wrapper">
					<ul class="collage-list">

						
						{% if current_gender == "men" %}
							{% for item in collage_data.men %}
								<li class="collage-item">
									<img src="{% static item.img %}" alt="collage_img" class="collage-img">
									<p class="collage-title">{{ item.title }}</p>
									<p class="collage-desc">{{ item.desc }}</p>
								</li>
							{% endfor %}
						{% else %}
							{% for item in collage_data.women %}
								<li class="collage-item">
									<img src="{% static item.img %}" alt="collage_img" class="collage-img">
									<p class="collage-title">{{ item.title }}</p>
									<p class="collage-desc">{{ item.desc }}</p>
								</li>
							{% endfor %}
						{% endif %}
					</ul>
				</div>
			</div>
		</section>

		<section class="slider">
			<div class="slider-container">
				<h2>Your most hyped</h2>
				<ul class="slider-list" id="slider">

					
					{% if current_gender == "men" %}
						{% for item in slider_data.men %}
							<li class="slide">
								<img src="{% static item.img %}" alt="Product 1">
								<h3>{{ item.title }}</h3>
								<p>$ {{ item.price }}</p>
							</li>
						{% endfor %}
					{% else %}
						{% for item in slider_data.women %}
							<li class="slide">
								<img src="{% static item.img %}" alt="Product 1">
								<h3>{{ item.title }}</h3>
								<p>$ {{ item.price }}</p>
							</li>
						{% endfor %}
					{% endif %}
				</ul>
				<button class="prev" onclick="prevSlide()">&#10094;</button>
				<button class="next" onclick="nextSlide()">&#10095;</button>
			</div>
			<div class="pagination" id="pagination"></div>
		</section>

		<section class="brands">
			<div class="container">
				<div class="brands-wrapper">
					<h2>TRENDING BRANDS</h2>
					<ul class="barnds-list">
						{% if current_gender == "men" %}
							{% for item in brands_data.men %}
								<li class="brands-link"><img src="{% static item.img %}" alt="brand" class="brands-img"></li>
							{% endfor %}
						{% else %}
							{% for item in brands_data.women %}
								<li class="brands-link"><img src="{% static item.img %}" alt="brand" class="brands-img"></li>
							{% endfor %}
						{% endif %}
					</ul>
				</div>
			</div>
		</section>
{% endblock  %}

{% block footer %}
	{% show_footer %}
	{% show_copyright %}
{% endblock %}
